{{template "top" .}}
<header>
	<h1>{{.Post.Title}}</h1>
	<p>{{.Post.Description}}</p>
	Tags: <ul>{{range .Post.Tags}}<li>{{.}}</li>{{end}}</ul>
</header>
<article>
	{{ .HtmlBody  }}
</article>
{{template "bottom" .}}
